<div class="wrapper">
    <div class="image-holder">
        <img src="~/images/form-wizard.png" alt="">
    </div>
    <form action="/LandPage2/Home/Index" method="post">
        <div id="wizard_meu">
            <!--SECTION 5-->
            <h4></h4>
            <section>
                <div class="tela4" style="display:block">

                    <div class=""  style="margin-bottom: 26px;">
                        <p><img src="~/images/ok.png" style="width:150px; height:150px;" /></p>
                        <h3 style="color:#000; margin-bottom: 20px;">Obrigado por participar da Pesquisa.</h3>

                    </div>

                    <a href="~/Home" class="btn btn-primary btn-custom">Inicio</a>
                    <a href="~/Home/Resultado" class="btn btn-success btn-custom">Resultado</a>

                </div>
            </section>


        </div>
    </form>
</div>

